<button class="my-button"
        style="width: 100%; height: 100%; font-size: 24px; @(AdditionalStyles)"
        @attributes="AdditionalAttributes"
        @onclick="HandleClick"
        disabled="@IsDisabled">
    @ButtonText
</button>

@code {
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Button";
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public string AdditionalStyles { get; set; } = "";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new();

    private async Task HandleClick()
    {
        if (!IsDisabled)
        {
            await OnClick.InvokeAsync();
        }
    }
}