@page "/"
@rendermode InteractiveServer
<div style="width: 100vw; height: 100vh; position: fixed; padding-left: 850px; padding-right: 850px; padding-top: 80px; padding-bottom: 80px; background: #34343C; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 150px; display: inline-flex">
    <img style="width: 220px; height: 348px" src="favicon.png" />
    <div style="flex-direction: column;   gap: 20px; display: flex">
        <MyTextField LabelText="Номер телефона"></MyTextField>
        <MyButton ButtonText="Авторизоваться"></MyButton>
    </div>
</div>
@code {

}
